<div id="fh5co-header">
    <header id="fh5co-header-section">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <h1 id="fh5co-logo"><a href="/">HighQua Hotel </a></h1>
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li><a class="<%= routeIs == 'home' ? 'active' : '' %>" href="/">Home</a></li>
                        <li><a class="<%= routeIs == 'rooms' ? 'active' : '' %>" href="/rooms">Rooms</a></li>
                        <li><a class="<%= routeIs == 'suites' ? 'active' : '' %>" href="/suite"> Suite </a></li>
                        <li><a class="<%= routeIs ==  'services' ? 'active' :'' %>" href="/services">Services</a></li>
                        <li><a class="<%= routeIs == 'blogs' ? 'active' : '' %>" href="/blog">Blog</a></li>
                        <li><a class="<%= routeIs == 'contact' ? 'active' : '' %>" href="/contact">Contact</a></li>
                        <% if(user){ %>
                            <li>
                                <a href="/accounts/profile/show">
                                    <%= user.username %>
                                </a>
                            </li>
                            <% }else{ %>
                                <li><a href="/auth/login">Login</a></li>
                                <% } %>

                    </ul>
                </nav>
            </div>
        </div>
    </header>

</div>