<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">List</h4>
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"> Add Room <i class="fa fa-plus"></i> </button>
    </div>
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Room #</th>
                        <th>Floor #</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Class Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Room #</th>
                        <th>Floor #</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Class Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% for(let i = 0; i < rooms.length; i++){ %>
                        <tr>
                            <td>
                                <%= rooms[i].no %>
                            </td>
                            <td>
                                <%= rooms[i].floorNo %>
                            </td>
                            <td>
                                <%= rooms[i].price %>
                            </td>
                            <td>
                                <%= rooms[i].type %>
                            </td>
                            <td>
                                <%= rooms[i].classType %>
                            </td>
                            <td>
                                <%= rooms[i].status %>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success">update</button>
                            </td>
                        </tr>
                        <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form action="/rooms/create" method="POST" enctype="multipart/form-data" id="roomForm">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="no">Room #</label>
                            <input type="number" class="form-control" id="no" name="no" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="floorNo">Floor #</label>
                            <input type="number" class="form-control" id="floorNo" name="floorNo" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" name="price" required>
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label for="type">Type</label>
                            <select id="type" name="type" class="form-control" required>
                                <option value="room">Rooms</option>
                                <option value="suite">Suite</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="classType">Class Type</label>



                            <select id="classType" name="classType" class="form-control" required data-live-search="true" title="Choose type">
                                <option value="1">Royal </option>
                                <option value="2"> Overwater Bungalow </option>
                                <option value="3"> Presidential  </option>
                                <option value="1"> Villa </option>
                                <option value="2"> Penthouse  </option>
                                <option value="3"> Terrace </option>
                                <option value="1"> Villa </option>
                                <option value="2"> Junior  </option>
                                <option value="3"> Deluxe </option>
                                <option value="3"> Executive </option>
                                <option value="Single">Single</option>
                                <option value="Double">Double</option>
                                <option value="Triple">Triple</option>
                                <option value="Quad">Quad</option>
                                <option value="Queen">Queen</option>
                                <option value="Twin">Twin</option>
                                <option value="King">King</option>
                                <option value="Double-double">Double-double</option>
                                <option value="Studio">Studio</option>
                                <option value="Connecting">Connecting</option>
                                <option value="Murphy">Murphy</option>
                                <option value="Cabana">Cabana</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 ">
                            <label for="status">Status</label>
                            <select id="status" name="status" class="form-control" required>
                                <option value="available">Available</option>
                                <option value="under_maintenance">Under maintenance</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Add Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept="image/*" name="roomImage" required>
                            <label class="custom-file-label" for="customFile">Choose Image for this room</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="features">Features</label>
                        <select id="features" name="features[]" class="form-control" multiple title="Choose features for this room ..." data-live-search="true" required>
                            <option data-icon="fa fa-desktop" value="tv"> Free Flatscreen TV</option>
                            <option data-icon="fa fa-wifi"    value="wifi"> Free High Speed Internet Wi-FI Access Free</option>
                            <option data-icon="fas fa-hamburger" value="Free Breakfast">Free Break Fast</option>
                            <option data-icon="fas fa-shower" value="shower with bathtub"> Shower with bathtub</option>
                            <option data-icon="fas fa-lock" value="Electronic Locks">Electronic Locks </option>
                            <option data-icon="fas fa-shoe-prints" value="Slippers">Slippers</option>
                            <option data-icon="fas fa-coffee"value="Coffee & tea facilities">Coffee & tea facilities</option>
                            <option data-icon="fas fa-temperature-high">Air Conditioner Central with individual Thermostat Controller</option>
                            <option data-icon="fas fa-wine-glass" value="Mini-Bar">Mini-Bar </option>
                            <option data-icon="fas fa-paint-roller" value="Modern Furnidhing">Modern Furnishing</option>
                            <option data-icon="fas fa-window-close">Soundproof Windows</option>
                            <option data-icon="	fas fa-bread-slice" value="Refrigerator"> Refrigerator</option>
                            <option data-icon="fas fa-dumbbell"value="Workout Room">Workout Room</option>
                            <option data-icon="fas fa-wine-glass-alt"value="Bottle of Wine">Bottle of Wine</option>
                            <option data-icon="fas fa-temperature-low"value="Heating"> Central Heating-Low Season</option>
                            <option data-icon="fas fa-compact-disc"value="CD/DVD Player"> CD/DVD Player</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#description'))
        .catch(error => {
            console.error(error);
        });
</script>