<!-- Carousel Images -->
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(/public/images/royalSuite1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Royal </span></p>
                                <h2> Feel to be Royal at Once </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/overwaterBungalo1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Overwater Bungalow  </span></p>
                                <h2> Best Choice for Honeymooners </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/presidentialSuite1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Presidential </span></p>
                                <h2> Stay Focus at Work </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/villaSuite1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Villa  </span></p>
                                <h2> Enjoy Privacy </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/penthouseSuite1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Penthouse </span></p>
                                <h2> Offers Distinct and Gorgeous View </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/terraceSuite2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Terrace </span></p>
                                <h2> Live at your Comfort Area </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/terraceSuite2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Terrace </span></p>
                                <h2> Live at your Comfort Area </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- End of Carousel Images -->

<!-- User Accessibility-->
<div class="wrap">
    <div class="container">
        <div class="row">
            <div id="availability">
                <form action="/rooms/" method="GET" id="availabilityForm">

                    <div class="a-col alternate col-md-5">
                        <div class="input-field">
                            <label for="date-start">Check In</label>
                            <input type="text" class="form-control" id="date-start" name="date-start" />
                        </div>
                    </div>

                    <div class="a-col alternate col-md-5">
                        <div class="input-field">
                            <label for="date-end">Check Out</label>
                            <input type="text" class="form-control" id="date-end" name="date-end" />
                        </div>
                    </div>

                    <div class="a-col action col-md-2">
                        <a href="#" onclick="document.getElementById('availabilityForm').submit()">
                            <span>Check</span> Availability
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of User Acessibility -->

<!-- Display Rating -->
<div id="fh5co-counter-section" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">User Access</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="15501" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Hotels</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="8200" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Transactions</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="8763" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Rating &amp; Review</span>
            </div>
        </div>
    </div>
</div>

<!-- FeATURED HighQua -->
<div class="row">
    <div class="col-md-12">
        <div class="section-title text-center">
            <h2 class="display-4 text-center mb-4">Featured HighQua Suites </h2>
        </div>
    </div>
</div>

<div class="card">
    <ul class="nav nav-tabs text-center" role="tablist" class="nav navbar-collapse">
        <% for(let i = 0 ; i < rooms.length; i++){ %>
            <% if(i == 0){%>
                <li role="presentation" class="active">
                    <% }else{ %>
                        <li role="presentation">
                            <%}%>
                                <a href="#<%= rooms[i]._id.replace(' ','') %>" aria-controls="<%= rooms[i]._id %>" role="tab" data-toggle="tab">
                                    <%=  rooms[i]._id %>
                                </a>
                        </li>
                        <% }; %>
    </ul>

    <div class="tab-content">
        <!-- Accessing Suite -->
        <% for(let i = 0 ; i < rooms.length; i++){ %>
            <% if(i == 0){%>
                <% let id = rooms[i]._id.replace(' ','') %>

                    <div role="tabpanel" class="tab-pane active" id="<%= id %>">
                        <% }else{ %>
                            <% let id = rooms[i]._id.replace(' ','') %>
                                <div role="tabpanel" class="tab-pane" id="<%= id %>">
                                    <%}%>
                                        <legend>
                                            <%= rooms[i]._id %>
                                        </legend>
                                        <!-- <div>
                                            This room has enough space for a single bed and enough space for one person. A single type of room is perfect for a person who wants to be alone and get away from stress.
                                        </div> -->
                                        <% rooms[i].rooms.forEach((room) =>{ %>
                                            <div class="feature-full-1col">
                                                <div class="image">

                                                    <img src="<%= room.imageUrl %> " width="100%" alt="">

                                                    <div class="descrip text-center">
                                                        <p><small>For as low as</small><span>$100/night</span></p>
                                                    </div>

                                                    <div class="features">
                                                        <h3> Features </h3>
                                                        <% for( let i = 0; i < room.features.length; i++ ) { %>
                                                            <li>
                                                                <%- room.features[i] %>
                                                                    <% }%>
                                                            </li>
                                                    </div>
                                                </div>
                                                <div class="desc">
                                                    <h2><a href="#"> Located in Room No. <%= room.no %> </h2> 
                                                       <p>Floor No. <%= room.floorNo %>  </a></p>
                                                        <%- room.description %>
                                                            <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                                                </div>

                                            </div>
                                            <%})%>


                                </div>
                                <% }; %>
                    </div>
    </div>