<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(/public/images/slider1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Elegant Rooms </span></p>
                                <h2>Reserve Room for Family Vacation</h2>
                                <p>
                                    <a href="/reservation" class="btn btn-primary btn-lg">Book
                                        Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/slider2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Astonishing Lounges </span></p>
                                <h2>Make Your Vacation Comfortable</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/garden.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> HighQua World Wide Gardens </span></p>
                                <h2> A Peaceful View to Stay Away from Stress
                                </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/restaurant.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Undersea Restaurant </span></p>
                                <h2> Beautiful Enough Above the Ocean Surface
                                </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/lobby.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Oceanarium Hotel Lobby </span></p>
                                <h2> Time to Hang Out in for Hours </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/slider3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> HighQua Hotel Entire View </span></p>
                                <h2>A Best Place To Enjoy Your Life</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book
                                        Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>


<div class="wrap">
    <div class="container">
        <div class="row">
            <div id="availability">
                <form action="/rooms/availability" method="GET" id="availabilityForm">

                    <div class="a-col alternate col-md-5">
                        <div class="input-field">
                            <label for="date-start">Check In</label>
                            <input type="text" class="form-control" id="date-start" name="date-start" />
                        </div>
                    </div>

                    <div class="a-col alternate col-md-5">
                        <div class="input-field">
                            <label for="date-end">Check Out</label>
                            <input type="text" class="form-control" id="date-end" name="date-end" />
                        </div>
                    </div>

                    <div class="a-col action col-md-2">
                        <a onclick="document.getElementById('availabilityForm').submit()">
                            <span>Check</span> Availability
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-counter-section" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">User Access</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="15501" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Hotels</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="8200" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Transactions</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="8763" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Rating &amp; Review</span>
            </div>
        </div>
    </div>
</div>


<!-- Nav tabs -->
<div class="card">
    <ul class="nav nav-tabs" role="tablist">
        <% for(let i = 0 ; i < rooms.length; i++){ %>
            <% if(i == 0){%>
                <li role="presentation" class="active">
                    <% }else{ %>
                        <li role="presentation">
                            <%}%>
                                <a href="#<%= rooms[i]._id %>" aria-controls="<%= rooms[i]._id %>" role="tab" data-toggle="tab">
                                    <%=  rooms[i]._id %>
                                </a>
                        </li>
                        <% }; %>
    </ul>

    <div class="tab-content">
        <!-- Single Rooms -->
        <% for(let i = 0 ; i < rooms.length; i++){ %>
            <% if(i == 0){%>
                <div role="tabpanel" class="tab-pane active" id="<%=  rooms[i]._id %>">
                    <% }else{ %>
                        <div role="tabpanel" class="tab-pane" id="<%= rooms[i]._id %>">
                            <%}%>

                                <legend>
                                    <%= rooms[i]._id %>
                                </legend>
                                <div>
                                    This room has enough space for a single bed and enough space for one person. A single type of room is perfect for a person who wants to be alone and get away from stress.
                                </div>
                                <div id="fh5co-hotel-section">
                                    <div class="">
                                        <div class="row">
                                            <% rooms[i].rooms.forEach((room) =>{ %>
                                                <div class="col-md-4">
                                                    <div class="hotel-content">
                                                        <div id="singleroom1" class="hotel-grid" style="background-image:url(/public/images/singleRoom1.jpg);">
                                                            <div class="price"><small>For as low as</small><span>$100/night</span></div>
                                                        </div>
                                                        <div class="desc">
                                                            <h3><a href="#">Rm. <%= room.no %> &bull; <%= room.floorNo %> floor </a></h3>
                                                            <%- room.description %>
                                                                <button class="btn btn-sm w-50 btn-info modalView"> <i class="fa fa-info mr-3"></i> More Info</button>
                                                                <button class="btn btn-sm w-50 btn-primary"> <i class="ti-calendar mr-3"></i> Book Now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%})%>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <% }; %>
                </div>
    </div>

    <!-- Modal for each rooms -->